<h1>Scheduled Cruises</h1>
 
<table>
  <tr>
    <th>Cruise</th>
    <th>Date and Time</th>
	<th colspan="3"></th>
  </tr>
 
  <% @scheduled_cruises.each do |scheduled_cruise| %>
    <tr>
      <td><%= scheduled_cruise.cruise_type.name %></td>
      <td><%= scheduled_cruise.datetime_pretty %></td>
      <td><%= link_to 'Edit', edit_scheduled_cruise_path(scheduled_cruise) %></td>
	    <td><%= link_to 'Delete', scheduled_cruise_path(scheduled_cruise),
	                method: :delete,
	                data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
<%= link_to 'New Scheduled Cruise', new_scheduled_cruise_path %> <br />
<%= link_to 'Back to Home', root_path %>