<p>
  <strong>Name:</strong>
  <%= @cruise_type.name %>
</p>
 
<p>
  <strong>Capacity:</strong>
  <%= @cruise_type.capacity %>
</p>

<%= link_to 'Edit', edit_cruise_type_path(@cruise_type) %>



<h2><%= pluralize(@cruise_type.scheduled_cruises.count, "Scheduled Cruise") %></h2>
 
<table>
  <tr>
    <th>Date and Time</th>
	<th colspan="3"></th>
  </tr>
  
  
 
  <% @cruise_type.scheduled_cruises.each do |scheduled_cruise| %>
    <tr>
      <td><%= scheduled_cruise.datetime_pretty %></td>
      <td><%= link_to 'Edit', edit_scheduled_cruise_path(scheduled_cruise) %></td>
	    <td><%= link_to 'Delete', scheduled_cruise_path(scheduled_cruise),
	                method: :delete,
	                data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>



<%= link_to 'Back', cruise_types_path %>